@page
@using GraphAlgorithmsAndVisualization.Models
@model GraphAlgorithmsAndVisualization.Pages.GraphVisualization.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Graph Visualization</h1>
    <partial name="/Pages/GraphVisualization/_Graph.cshtml" for="@Model.GraphModel"/>
</div>

