html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
  margin: 2%;
  border: solid black 2px;
  width: 96%;
  height: 96%;
  background-color: black;
}
td {
  margin: 2%;
  width: 96%;
  height: 96%;
  border: solid black 2px;
  background-color: #CCCCCC;
}
#graphcanvas {
  position: relative;
  margin: 1%;
  width: 98%;
  height: 98%;
  border: solid black 2px;
}