html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(35deg, rgb(142, 142, 240), rgb(170, 235, 235));
}


.canvas div {
  width: 98%;
  margin: auto; 
}
.canvas table {
  border: solid black 2px;
  width: 96%;
  height: 96%;
  margin: auto; 
  background-color: black;
}
.canvas tr {
  width: 98%;
  height: 98%;
  margin: auto; 
}
.canvas td {
  width: 48%;
  height: 48%;
  margin: auto; 
  border: solid black 2px;
  background-color: #04083b;
}
.canvas input {
  min-width: 60%;
}
#graphcanvas {
  position: relative;
  margin: auto; 
  min-height: 98%;
  width: 98%;
  max-width: 98%;
  min-width: 98%;
  height: 98%;
  max-height: 98%;
  border: solid black 2px;
}

.solution {
  width: 95%;
  margin: auto;
  overflow: auto;
  height: 700px;
}
.solution table {
  border-collapse: collapse;
  width: 100%;
  color: #ffffff;
  border: 1px solid #04083b;
}
.solution thead th {
  background-color: #04083b;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
}
.solution tbody td {
  text-align: left;
}
.solution tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #1421d1;
}
